html {
  color: #fff;
}

.masthead {
  background-color: #423ca3;
}

a:hover {
  background-color: #fff;
  color: #15114c;
}

.logo {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  background-color: #15114c;
  border-radius: 10px;
}

@media only screen and (min-width: 60em) {
  .logo {
    text-align: left;
  }
}
